*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 500% ;
    
}
#pic{
       width: 100%;
    height: 24%;
    background-image: url(super_latest.png);
    
    background-size: contain;
    background-repeat: no-repeat;
   
    /* margin-left: 16px; */
    background-color: black;



}